.container {
    background-color: white;
    padding: 16px;
    max-height: 480px;
    overflow-y: scroll;
    display: block;
}
.time {
font-size: 4rem;
font-weight: 500;
}
.greeeting {
    font-size: 2rem;
    font-weight: 500;
}
